<!--<h1>GET DATA AND SEND DATA VARIABLES</h1>
<li><a href="{% url 'getvalue' %}">GET VALUE</a></li> -->
<h1> WELCOME TO KPM INDERA MAHKOTA </h1>
<!--<H2>DISPLAY USING VARIABLE</H2>
{% with firstname="hafiz" %}
<h1>Hello {{ firstname }}, how are you ? </h1>
{% endwith %}
//-->



<body>
<!--    <a href="{% url 'view' %}"><H2>DISPLAY USING VARIABLE FROM VIEWS (go to view.html)</H2></a>

    <p></p>
    <a href="{% url 'database' %}"> <H2>DISPLAY STUDENT CLASS (go to database.html)</H2> </a>

<p></p>

{% if greeting == 1 %}

<h1> HELLO WELCOME TO SELECTION</h1>

{% endif  %}

//-->
<a href="{% url 'course' %}"> <H2>INSERT COURSE </H2> </a>
<a href="{% url 'course' %}"> <H2>SEARCH COURSE </H2> </a>
</body>